{% extends 'pedidos/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="container">
    

    

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">LOGIN</div>
            <div class="panel-body">
                 {% if error_message %}<p><strong> {{error_message}} </strong></p>{% endif %}
                
                <form action="{% url 'pedidos:acceso' %}" method="post" form>
                    <div class="form-signin">
                        <h6 class="form-signin-heading text-center"></h6>
                        {% csrf_token %}
                        {{ form| crispy }}
                        <input class="btn btn-lg btn-success btn-block"  type="submit" value="Iniciar sesión" /><br><a align="right" href="{% url 'pedidos:password_reset' %}">Olvidó su contraseña ?</a>
                        <br>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-warning" role="alert"> {{ mensaje }}</div>
        <p align="right">
          <a class="btn btn-success btn-lg " href="/pedidos/index" role="button">Regresar</a>
        </p>
        
    </div>
    <div class='col-md-4'> 
        <img src="{% static 'pedidos/cat_2020/VickyForm.jpg' %}" alt="logo" style="height:89%; width:89%">
        
    </div>
    <div class='col-md-4'>
        <img src="{% static 'pedidos/cat_2020/TTBlues.jpg' %}" alt="logo" style="height:100%; width:99%">
        
    </div> 

	<h2>
	  <center>
	  Información para Socios
	  </center>
	</h2>

	<div><style>
body 
{
  background: url("{% static 'pedidos/clean-vintage-yellow-paper-background.jpg' %}");
  background-size: 1500px 1000px;
  background-repeat: no-repeat;
}
    </style>
<body>
<table width="1146" border="5">
  <tbody>
    <tr>
      <td>Le Recordamos que:
Sus pedidos llegando a tienda se guardaran: 7 días naturales si da anticipo 3 dfas naturales sin anticipo<br>
		  
SERVICIO EXPRESS de un dia si su pedido lo realiza:
Cklass antes de las 11:00 AM Impuls antes de la 13:00 PM Terra antes de las 17:00 PM<&/br>
		  
DEVOLUCIONES
De 15 a 21 dfas dependiendo de que bodega provenga su pedido (Pida information) <br>
		  GARANTIAS
23 dfas si el calzado se descose o se despega NO APLICA en accesorios tales como cierres, pedrerfa, Adornos, estoperoles y hebillas
		</td>
      <td><div> 
  <img class="img-responsive" src="{% static 'pedidos/7356-removebg-preview.png' %}" alt="Muchacha" width="612" height="408"> 
</div></td>
    </tr>
  </tbody>
</table>
<img src="{% static 'pedidos/triptico_portada_al_15-10-17.png' %}" width="740" height="540" alt="Triptico"/><img src="{% static 'pedidos/triptico-Contraportada.jpg' %}" width="740" height="540" alt="Triptico"/>

</div>
<script>
var is_staff = '{{ is_staff }}';
</script>

{% endblock content %}



