{% extends 'pedidos/base.html' %}

{% block content %}

<h1>{{mensaje}}</h1>

<div class="row">
  <h3 style="text-align: center;color:#7f7b38;">Catalogo de Socios</h3>
  
</div>
    <div class="table-responsive">
        
    	<table id='listapedidosgeneral' class='display table table-hover table-bordered table-condensed'>
            <thead>
            
            
        	<tr class='success'>
        		<th>id</th>
            	<th>Apellido Paterno</th>
            	<th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Telefono casa</th>
                <th>Catalogos</th>
              
        	</tr>
            </thead>
            <tbody>
        	{% for item in asociados %}
        		<tr>
        			<td><a href="{% url 'pedidos:edita_asociado' item.asociadono %}">{{ item.asociadono }}</a></td>
        			<td>{{ item.appaterno }}</td>
                    <td>{{ item.apmaterno }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.telefono1}}</td>
                    <td><form id="imp_pedido_form" action="/pedidos/filtrocatalogosasociado/{{ item.asociadono }}" method="GET">
                        <input id="asociadono" name="asociadono" class="btn-success-btn-lg" type="submit" value="Catalogos...">
                    </form></td>
            		                    
            	</tr>
           {% endfor %}
           </tbody>
           <tfoot>
           
            </tfoot>
            
    	</table>
    </div>
    <div class='row'>
        <div class='col-md-4'>
            <p align="left">
                          <a href="{% url 'pedidos:crea_asociado' %}" id="crea_asociado" class="btn btn-success " role="button">Nuevo </a>
                        </p>
        </div>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
        
        
    </div>






{% endblock content %}
