{% extends 'pedidos/base.html' %}

{% block content %} 

{% load l10n %}


<script> var x = "{{ anio }}";
console.log('equis')
console.log(x)


 </script>
<h4>Descuentos del socio:</h4><h3>{{nombre_socio}}</h3>


<h4>{{mensaje}} {% if elementos > 0 %} {{elementos}} {% endif %}  </h4>

    <div class="table-responsive">
    	<table id="listapedidosgeneral" class='display table table-hover table-bordered  table-condensed clase_tabla'>
        <thead>
        	<tr class='success'>
                
                <th>Proveedor</th>
                <th>Descuento (%)</th>
                
                <!--<th>Activo ?</th>-->
        		
                
                
        	</tr>
        </thead>
        <tbody>
        	{% for item in asociado_proveedor %}
                
        		<tr>
        			
                    <td><a href="/pedidos/asociado_edita_descuento/{{item.proveedorno}}/{{item.asociadono}}">{{ item.razonsocial }}</td>
        			<td>{{ item.descuento_porc }}</td>
        			
        			<!--<td> {{ item.activo }}</td>-->
    				<!-- Las siguientes dos lineas son para guardar las version del registros de pedidos_encontrados y pedidoslines, antes del commit debe revisarse que no hayan cambiado
    				
                    <td><form id="imp_hojadev_form" action="/pedidos/imprime_hoja_devolucion/" method="GET">
                        <input id="id_imp_hoja_dev" name="id" class="btn-success-btn-lg" type="submit" value="{{item.id}}">
                    </form></td>-->
                                                          
            	</tr>
            {% endfor %}
        </tbody>    
    	</table>
    </div>
    <div class="row">
        <!--<div class="col-md-6">
            <h3>Articulos solicitados: <span id="col_art_encont" class="label label-primary">{{reg_encontrados}}</span></h3>
        </div>-->

    
        <div class="col-md-12" >
            <br>
            <p align="left">
                      
                      <a href="/pedidos/asociado_nuevo_descuento/{{asociadono}}" id="crea_descuento_asociado" class="btn btn-default " role="button">Nuevo </a>

                    </p>
           <!-- <h3>Articulos  recibidos: <span id="total_recibidos" class="label label-primary">0</span></h3>
        </div>-->
    </div>


    <div class="row">
        <div class='col-md-3'>
            <!--
            <label for="usr_id">Usuario_id:</label> 
            <input id="usr_id_pedidos_recepcionar" name="usr_id_colocaciones" class="form-control" type="password" pattern=".{,3}" value=0> -->
   

        </div>
        <div class ='col-md-3'>
          <!--  
          <form id="imp_venta_form" action="{% url 'pedidos:imprime_credito' %}" method="GET" >
                        <input id ='id_nuevo_credito' name ='p_num_credito' class="btn-success-btn" type="submit"  value="000000" />

            </form> -->
  


        </div>
        <div class='col-md-3'>
    	    
        </div>
        <!--
        <div class='col-md-3'>
            <p align='right'>
                <button id='imprimir_devolucion_socio' class="btn btn-default" href="/pedidos/filtro_dev_prov" role="button">Regresar</button>
            </p>    	    

            

        </div>-->
    	   
    </div>
	
	<!-- El siguiente script no se definio dentro de pedidos.js ya que este ultimo se carga primero que las variables de manejadas dentro del request de django, asi puest, el script asigna variables recibidas en request  a variables visibles por JQuery -->
	
	
{% endblock %}	