<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    
    {% load staticfiles %}
        
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/style.css' %}"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"</script> 
  
    <script src="{% static 'pedidos/pedidos.js' %}" type="text/JavaScript"></script>


    <title>Sistema de pedidos</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/bootstrap.min.css' %}" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/bootstrap-theme.min.css' %}" >

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/JavaScript"></script>
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/JavaScript"></script> -->

  </head>

  <body role="document" style="background-color:white;">

     <!-- Fixed navbar -->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <nav role="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% static 'pedidos/logomultimarcaslaredo.png' %}"></a><br>
        </div>
        <div id="navbar" class="navbar-collapse collapse" align="left">
          <ul class="nav navbar-nav">
            <li class="active"><a href=""></a></li>
            <li><a href="#about1"></a></li>
            <li><a href="#about2"></a></li>
            <li><a href="#about3"></a></li>
            <li><a href="#about4"></a></li>
            <li><a href="#about5"></a></li>
            <li><a href="#about6"></a></li>
            <li><a href="#about7"></a></li>
            <li><a href="#about8"></a></li>
            <li><a href="#about9"></a></li>
            <li><a href="#about10"></a></li>
            <li><a href="#about11"></a></li>
            <li><a href="#about12"></a></li>
            <!--<li><a href="{% url 'pedidos:logout_view' %}">Salir</a></li>
            <li><a align="right" class="text" style="color: white" > Usuario:  {{ request.user }}</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action 
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <br><br>
            
          </div>
        </div>
      </div>-->

      <br><br>
        <div class="row">
          <div class="col-md-4">

          

            
              
                
              <img src="{% static 'pedidos/logomultimarcaslaredo.jpg' %}" alt="logo" style="height:50%; width:50%;" >

              
                       
              
            
          </div>
          <div class="col-md-4"   >

            
          </div>
          <div class="col-md-4" align="right">
            <p class="text-info"><h2>Usuario:  {{ request.user }} </h2></p>
            <p class="text-info"><h3>Sucursal :<font style="background-color: #DAF7A6 " color="#0b5345"> {{request.session.sucursal_nombre}}</font></h3></p>
          </div>
        </div>

        <hr>
              
              {% block content %}

              {% endblock content %}
          </div>
        </div>
    </div> 
      

      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    
  </body>
</html>
