<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    
    {% load staticfiles %}
        
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/style.css' %}"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"</script> 
  
    <script src="{% static 'pedidos/pedidos.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'pedidos/TableToJson.min.js' %}" type="text/JavaScript"></script>

    <!--DATA TABLES JQUERY 

    <script src="https://cdn.datatables.net/1.10.18/css/dataTables.jqueryui.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.jqueryui.min.js"></script>
    LOS SIGUIENTES SCRIPT SON PARA MOSTRAR TABLAS TIPO BOOTSTRAP CON JQUERY -->

    
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>




    <title>Sistema de pedidos</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/bootstrap.min.css' %}" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'pedidos/bootstrap-theme.min.css' %}" >

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
   <!-- 
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/JavaScript"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/JavaScript"></script> -->

    <script src="{% static 'pedidos/js/bootstrap.min.js' %}"></script>
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- FIJA CUADRO TOTALES EN VENTA. El siguinte style se usa para "fijar" la parte donde se muestra los totales de la venta   en la pantalla de ventas. Este style trabaja en conjunto con la seccion jquery  llamada 'FIJA CUADRO' codigo ubicado en 'pedidos.jp' -->

  <style>
    .fixed {

      position: fixed;
      top: 20px;
      margin-left: :720px;
      background-color: #A9DEB1; 


    }

  </style>
<!--
  <style>
body 
{
  background-image: url("{% static 'pedidos/dynamic-style.png' %}");
  background-position: right bottom;
  background-repeat: repeat;
  padding: 15px;
}
</style>-->


  </head>

  <body role="document" style="background-color:#f2f2e7;">

     <!-- Fixed navbar -->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    

      
    
    

    <div class="container theme-showcase" role="main" >

      <!-- Main jumbotron for a primary marketing message or call to action 
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <br><br>
            
          </div>
        </div>
      </div>-->

    
        <div class="row"  style="background-color:#8ba888 ;">
          {% if request.session.is_staff and request.session.sucursal_activa > 0 %}
            
              {% include 'pedidos/navegador.html' %}
            
          {% endif %}
          <div class="col-md-4">
            <img src="{% static 'pedidos/logo-multimarcas-2600x625.png' %}" alt="logo" style="height:70%; width:70%;" >
          </div>            
              
  
          

          <div class="col-md-4"  align="center" >
            <p class="text-info"><h1><font style="" color="black"> {{request.session.sucursal_nombre}}</font></h1></p>
            
          </div>
          <div class="col-md-4" align="right">
            <p class="text-info"><h2>Usuario: <font style="" color="black"> {{ request.user }}</font> </h2></p>
            
            
          </div>
        <!--
        </div class="row">
        
        -->  
        </div>

        <hr>
              
              {% block content %}

              {% endblock content %}
          </div>
        </div>
    </div> 
      

      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    

    
  </body>
</html>
