{% extends 'pedidos/base.html' %}

{% load crispy_forms_tags %} 

{% block content %}

<h1>{{mensaje}}</h1>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
        <div class='panel-heading'><h4 align='center'>Consulta de colocaciones<h4></div>
        <div class='panel-body'>
    
            {{ mensaje }}
            {% if error_message %}<p><strong> {{error_message}}</p>{% endif %}
            <form action="{% url 'pedidos:consultacolocaciones' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}<br><br>    
                    
                    <input  class="btn btn-default "  type="submit" value="Enviar" />

                    <a class="btn btn-default" href="{% url 'pedidos:consulta_menu' %}" role="button"> Salir</a>
                </div>
            </form>

        </div>
       

    </div>  
  </div>
  <div class="col-md-4">
    
    
  </div>
  <div class="col-md-4">
    
  </div>
</div>
    










<!-- El siguiente div se utiliza como parte del cuadro de dialogo jquery para elminiar clientes -->

<div id="dialog-1" style="display : none;" title="Advertencia !">Los registros seleccionados serán eliminados de manera definitiva de la base de datos, la acción es irreversible, desea continuar ?</div>





{% endblock content %}
