{% extends 'pedidos/base.html' %}
    
{% load staticfiles %}




<!-- El siguiente div es para probar que trabaja javascript, va amarrado con el script msgid al principio de pedidos.js

<div id="msgid">
</div> -->
{% block content %}
<div class="container">


    <div class="row" >
        <div class="col-md-4">
            <h2 align="Center" style="color:green;">Consultas</h2>
            
                <h3 align="Center"></h3>
                <h2></h2>

                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:calzadollego_gral' %}' role="button" >Calzado que llego (Global)</a>
                </div><br>
                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:calzadoquellego_detalle' %}' role="button" >Calzado que llego (detallado)</a>

                </div><br>
                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:con_pedidos_por_socio_status' %}' role="button" >Pedidos por socio y status</a>

                </div><br>
                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:consultacolocaciones' %}' role="button" >Colocaciones</a>
                </div><br>
                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:consultaventas' %}' role="button" >Ventas General</a>
                </div><br>
                <div class="row">
                    <a class="btn btn-success btn-lg btn-block" href= '{% url 'pedidos:consultacomisiones' %}' role="button" >Ingresos por Comisiones</a>
                </div><br>

                <div class="row"> 
                    <a class="btn btn-default btn-lg " href="{% url 'pedidos:empleados' %}">Regresar</a>
                </div>
            

               
       </div>
        
        
    </div><br>
    


    <div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>  
        
        
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        

    </div>

</div>
{% endblock content %}
 