{% extends 'pedidos/base.html' %}

{% load crispy_forms_tags %} 

{% block content %}



<div class="row">
<!-- <div class="col-md-3"></div>-->
  <div class="col-md-4">

      
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">

        <div class='panel-heading'><h4 align='left'>Creacion de documento<h4></div>
        <div class='panel-body'>
              
            {% if mensaje %}<p><strong> {{mensaje}}</strong></p>{% endif %}

            
            <form action="{% url 'pedidos:crea_documento' %}" method="POST">
                
                
               
               
                    {% csrf_token %}

                       {{ form.doc_asociado | as_crispy_field }}
                       <p id="muestra_nombre_socio"></p>
                       {{ form.doc_tipodedocumento | as_crispy_field }}
                       {{ form.doc_ventadecatalogo | as_crispy_field }}
                       {{ form.doc_proveedor | as_crispy_field }}
                       {{ form.doc_anio | as_crispy_field }}
                       {{ form.doc_temporada | as_crispy_field }}  
                       
                       {{ form.doc_concepto | as_crispy_field }}
                       {{ form.doc_monto | as_crispy_field }}

                   <!-- {% if tipodedocumento == 'Credito' %}
                        {{ form.bloquearnotacredito | as_crispy_field }}
                    {% endif %}--> 
                    
                    <!--<input id='num_socio' value='{{num_socio}}' type='hidden' name='num_socio'>-->
                
                    <input  id='btn_genera_rpte_cotejo' class="btn btn-default"  type="submit" value="Enviar" />
                

                    
                
             
            </form>

          <!-- 
          <form id="imp_venta_form"  method= 'GET' role="button" {% if  form.doc_tipodedocumento == 'Remision' or  form.doc_tipodedocumento == 'Cargo' %}  action= "{% url 'pedidos:imprime_venta' %}" {% else %} action="{% url 'pedidos:imprime_credito' %}" {% endif %} method="GET"><input id ='idventa' {% if form.doc_tipodedocumento == 'Remision'  %} name ='p_num_venta' {% else %} name ='p_num_credito' {% endif %} class="glyphicon glyphicon-print" type="submit"  value={{ NoDocto }}>
          </form> -->           





        </div><br>
 <div class="col-md-4">
 </div>     
 
  </div>
        






  <script>
    var is_staff = "{{ is_staff }}";
  </script>  


{% endblock content %}
