{% extends 'pedidos/base.html' %}

{% load crispy_forms_tags %} 

{% block content %}



<div class="row">
<!-- <div class="col-md-3"></div>-->
  <div class="col-md-12">
    <div class="panel panel-success">
        <div class='panel-heading'><h4 align='left'>Edicion de Devolucion<h4></div>
        <div class='panel-body'>
              
            {% if mensaje %}<p><strong> {{mensaje}}</strong></p>{% endif %}

            
            <form action="{% url 'pedidos:edita_devprov' id_prov %}" method="POST">
                <div class="alert alert-danger" role="alert">
              
                    {{form.non_field_errors}}
                </div>
                
               
                <div class="form-group" >
                    {% csrf_token %}

                   
                        {{ form.id|as_crispy_field }} 
                        {{ form.guia|as_crispy_field }} 
                        {{ form.observaciones | as_crispy_field }}
                        {{ form.fecha_recepcion | as_crispy_field }}
                        {{ form.recibio | as_crispy_field }}
                        {{ form.num_socio | as_crispy_field }}
                        {{ form.nombre_socio | as_crispy_field }}
        
                    <input  id='btn_enviar' class="btn btn-default"  type="submit" value="Enviar" />
                

                    
                </div>
             
            </form>

        </div><br>
 
  </div>
        


  <script>
    var is_staff = "{{ is_staff }}";
  </script>  


{% endblock content %}
