{% extends 'pedidos/base.html' %}
    
{% load staticfiles %}




<!-- El siguiente div es para probar que trabaja javascript, va amarrado con el script msgid al principio de pedidos.js

<div id="msgid">
</div> -->
{% block content %}


<div class="container" id='r1'>

   
  
 
  
    

     <br><br>
  

    <center>
      <a  href= '{% url 'pedidos:acceso' %}'><img class='rounded'src="{% static 'pedidos/inicia-tu-negocio.png' %}" width="800" height="328" alt="Entrar"/></a>

        
      
       <!-- <a class="btn btn-info btn-lg" href= '{% url 'pedidos:acceso' %}' role="button">Entrar</a>
      </center>
       
     <br><br>
      
      <h1 id='a1' align="right"><strong><font style="font-family: Helvetica, sans-serif;font-size:50px;font-style:italic;" color="Black"><em> " Todo en un solo lugar "</em></font> </strong></h1>
                <br><br>-->
                    
   
 

  <div>
    <style>
        #r50{
          background-image: url("{% static 'pedidos/inicia-tu-negocio.png' %}"); 
        	 background-repeat: no-repeat;
           position: relative;
           
            }
    	
        #a1  {
          background-color: #84ede1;
          align-content: center;
          opacity: 0.3
        }
    </style>

  </div> 

</div>


{% endblock content %}
 
