{% extends 'pedidos/base.html' %}
    
{% load staticfiles %}




<!-- El siguiente div es para probar que trabaja javascript, va amarrado con el script msgid al principio de pedidos.js

<div id="msgid">
</div> -->
{% block content %}


<div class="container" Style="">

    <div  class="col-md-6">
            <!--<h2 align="Center" style="color:green;">Sistema de Pedidos</h2>-->

            <br><br><br>
            <h1 align="Center" ><strong><font style="font-family:times new,roman;font-size:64px;font-style:italic;" color="Golden" >
                " Todo en un solo lugar "</font>
                </strong></h1><br><br>
                <div class="row" align="Center">
                 <a class="btn btn-info btn-lg" href= '{% url 'pedidos:acceso' %}' role="button" >Entrar</a>
                </div>
                
            <!--<div class="alert alert-success" align="Center">
                <h3 align="Center">Bienvenido Socio !</h3>
                
            </div>-->

    </div>    
        





    <div class="row">
        <div class="col-md-6">
            <div id="myCarouselCustom" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarouselCustom" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="1"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="2"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="3" class="active"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="4"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="5"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="6" class="active"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="7"></li>
                    <li data-target="#myCarouselCustom" data-slide-to="8"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'pedidos/castalia.png' %}" alt="" >
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/andrea.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/IMPULS.png' %}" alt="" >
                    </div>
                    <div class="item active">
                        <img src="{% static 'pedidos/FARELI.png' %}" alt="" >
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/TERRA.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/VEROCHI.png' %}" alt="" >
                    </div>
                    <div class="item active">
                        <img src="{% static 'pedidos/priceshoes.png' %}" alt="" >
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/zuleykiara.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'pedidos/mrwestern.png' %}" alt="" >
                    </div>
                    
                </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarouselCustom" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouselCustom" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>



        
        
        
               
    </div>
       

</div><br>
<div class="row" align="Center">
                   
                    <!--<a class="btn btn-success btn-lg " href="{% url 'pedidos:logout_view' %}">Salir</a>-->
</div><br><br>

<div class="row">
<div class="col-md-3">
</div>


<div class="col-md-3">
</div>
</div>







{% endblock content %}
 