{% extends 'pedidos/base.html' %}
{% load crispy_forms_tags %} 
    
{% load staticfiles %}




<!-- El siguiente div es para probar que trabaja javascript, va amarrado con el script msgid al principio de pedidos.js

<div id="msgid">
</div> -->
{% block content %}
<div class="container">


    <div class="row">
        <div class="col-md-6">
            
            <div class="panel panel-success">
                <div class='panel-heading'><h3> {% if tipo == 'P' %} Pedido nuevo {% elif tipo == 'V' %} Venta nueva  {% else %} Documento nuevo {% endif %}</h3></div>
                    <div class='panel-body'>
                
                    <div class="alert alert-warning" role="alert"> {% if not existe_socio  %}

                                    <h5> Numero de socio no registrado !!</h5>
                            
                            {% endif %}
                    </div>
                            
                            <form action="{% url 'pedidos:ingresa_socio' tipo %}" method="post">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form | crispy }}<br><br>    
                                    
                                    <input  class="btn btn-default "  type="submit" value="Enviar" />
                                    <a class="btn btn-default btn-default " href="{% url 'pedidos:pedidosgeneral' %}">Salir</a>

                                </div>
                            </form>
                                  

                        
                    </div>
                  
            </div>
                

                <br>
                
            

               
       </div>
       <div class="col-md-6">

                <p id="muestra_nombre_socio"></p>
                            
                          <input id="input_nom_socio" type="text"  placeholder="Nombre a buscar..." aria-describedby="basic-addon1"/>

                          <input  id="buscar_picklistsocio" class="btn btn-sm btn-success" type="submit" value="Buscar" /> 
                          
                                
                        
                        
                          <div class="table-responsive">
                  
                              <table id="busca_socio_javascr" class="table table-condensed table-hover table-bordered table-inverse">
                                <thead>
                                  <tr>
                                    <th>id</th>
                                    <th>Ap paterno</th>
                                    <th>Ap materno</th>
                                    <th>Nombre</th>
                                  </tr>
                                </thead>
                               <tbody>
                                
                                 
                               </tbody>
                                                          
                              </table>
                          </div>


       </div>
        
        
    </div><br>
    


    <div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>  
        
        
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        

    </div>

</div>
{% endblock content %}
 