{% extends 'pedidos/base.html' %}

{% block content %}

{% load l10n %}
<div class='row'>
    <div class='col-md-6'>
        {% if mensaje %}
            <div class="alert alert-warning" role="alert">
                <h4>
                <strong>Info. Insuficiente ! </strong>  {{ mensaje }} 


                </h4>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Detalle</h4></div>
                    <div class="panel-body">
                        
                            <div class='col-md-4'>
                                <p>Num. Producto:</p> 
                                <p>Fecha Pedido:</p>
                                <p>Fecha encontrado:</p>
                                <p>Encontrado:</p>
                                <p>id_cierre:</p>
                                <p>Tipo Servicio:</p>
                                <p>Via solicitud:</p>
                                <p>Almacen:</p>
                            </div>
                            <div class='col-md-4'>    
                                <p>{{ productono }}</p>
                                <p>{% localize on %}
                                    {{fechapedido | date:'d/M/Y'}}
                                {% endlocalize %}</p>
                                <p>{% localize on %}
                                     {{fechaencontrado | date:'d/M/Y'}}
                                 {% endlocalize %}</p>
                                <p>{{encontrado}}</p>
                                <p>{{id_cierre}}</p>
                                <p>{{tiposervicio}}</p>
                                <p>{{via_solicitud}}</p>
                                <p>{{almacen}}</p>
                            </div>
                        
                    </div>
        </div>            
            

    </div>        

    <div class='col-md-6'>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Eventos</h4></div>
                    <div class="panel-body">




        <div class="table-responsive">
            <table id="listapedidosdetalle" class='display table table-hover table-bordered table-condensed'>
                <tr class='success'>
                    <th>Status</th>
                    <th>Fecha Mvto</th>
                    <th>Hora mvto</th>
                    <th>Usuario</th>
                                      
                </tr>
                {% for item in psf %}
                    
                    <tr>
                        <td>{{item.status}}</td>
                        {% localize on %}
                          <td>{{item.fechamvto | date:'d/M/Y'}}</td>
                        {% endlocalize %}
                        <td>{{ item.horamvto }}</td>
                        <td>{{ item.usuario }}</td>
                        
                    </tr>
                {% endfor %}
                      
            </table>   


            
            </div>
        </div>
    </div>
        <p align='right'>
                <a class="btn btn-default" href="javascript:history.back()" role="button">Regresar</a>
            </p>


        </div>    
    </div>
    
        
</div>

    



{% endblock %}