{% extends 'pedidos/base.html' %}

{% block content %}
{% load humanize %}

{% load l10n %}
<div class="row">
<!--<div class="col-md-4"> -->
    <h5> REPORTE DE VENTAS ( {{ usuario }} )</h5><br>
    

    <h5>{{mensaje}} {% if TotalRegistros > 0 %} {{TotalRegistros}} {% endif %}  </h5>

        <div class="table-responsive" font-size: 14px;>
        
        	<table class='table table-hover table-bordered table-condensed'>
            	<tr class='success'>
            		<th>Documento Num.</th>
                    <th>Remision Num.</th>
                	<th>Fecha</th>
                    <th>Socio</th>
                	<th>Nombre</th>
                	<th>Vta bruta</th>
                    <th>Creditos</th>
                    <th>Cargos</th>
                    <th>Desctos</th>
                    <th>Venta Neta</th>
                    
                    

            	</tr>
            	{% for item in registros_venta %}
                    
            		<tr>
                        <td>{{ item.NoDocto}}</td>
                        <td> {{ item.Consecutivo }}</td>
                        {% localize on %}
                            <td>{{item.FechaCreacion| date:'d/M/Y'}}</td>
                        {% endlocalize %}
                        <td>{{ item.Asociado }}</td>
                        <td>{{item.Nombre}} {{item.ApPaterno}} {{item.ApMaterno}}</td>
                        <td>{{ item.venta }}</td>
                        <td>{% if item.Concepto == 'Venta' %} {{ item.cred_aplicado}}
                             {% else %} 0 {% endif %}</td>
                        <td>{% if item.Concepto == 'Venta' %} {{ item.comisiones}}
                             {% else %} 0 {% endif %}</td>
            			<td>{{item.descuentoaplicado}}</td>
                        <td>{% if item.Concepto == 'Venta' %} 
                                        {{ item.VtaComisionSaldo }} 
                             {% else %}
                                 {% if item.VtaDeCatalogo %} {{item.venta}} {% else %} 0 {% endif %}
                              {% endif %}   </td>                        
                        
                                           
                	</tr>
                {% endfor %}
                                
                
        	</table>
           
        </div><br>
        <div>
            <h4>Totales:</h4>
            <h5 align='right'> Venta bruta: {{TotalVtaBruta | intcomma }} </h5>
            <h5 align='right'> - Creditos: {{TotalCreditos | intcomma }} </h5>
            <h5 align ='right'> + Cargos: {{TotalCargos | intcomma }} </h5>
            <h5 align ='right'> - Descuentos: {{TotalDescuentos | intcomma }}  </h5>
            <h5 align ='right'> __________________________________</h5>
            <h5 align = 'right'> Venta Neta: {{TotalVtaNeta | intcomma }}  </h5><br>
            <h5 align = 'right'> Vta Productos: {{TotalVtaProductos | intcomma }} </h5>
            <h5 align = 'right'> Vta Catalogos: {{TotalVtaCatalogos | intcomma }} </h5>
        </div><br>  

        <p align='right'>
            <a class="btn btn-default" href="/pedidos/consultaventas" role="button">Regresar</a>
        </p>
        
            



   
<!-- </div> -->
<!--<div class="col-md-4">
</div>
<div class="col-md-4">
</div>-->

</div>
 {% endblock %}