{% extends 'pedidos/base.html' %}
{% load crispy_forms_tags %} 
    
{% load staticfiles %}




<!-- El siguiente div es para probar que trabaja javascript, va amarrado con el script msgid al principio de pedidos.js

<div id="msgid">
</div> -->
{% block content %}
<div class="container">


    <div class="row">
        <div class="col-md-6">
            
            <div class="panel panel-success">
                <div class='panel-heading'><h3> Reporte de eventos de usuario </h3></div>
                    <div class='panel-body'>
                
                    
                            
                            <form action="{% url 'pedidos:log_eventos_forma' %}" method="post">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form | crispy }}<br><br>    
                                    
                                    <input  class="btn btn-default "  type="submit" value="Enviar" />
                                    
                                </div>
                            </form>
                                  

                        
                    </div>
                  
            </div>
                

                <br>
                
            

               
       </div>
       <div class="col-md-6">

       </div>
        
        
    </div><br>
    


    <div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-1"></div>  
        
        
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        

    </div>

</div>
{% endblock content %}
 