{% extends 'pedidos/base.html' %}

{% block content %}

<h1>{{mensaje}}</h1>

<div class="row">
    <div class='row'>
        <div class='col-md-4'>

           <h1> <i class="fa fa-user"></i>   </h1>

        </div>
        <div class='col-md-4'>
           <h3 style="text-align: left;color:#7f7b38;">Socio</h3>       

        </div>
        <div class='col-md-4'>
        </div>
    </div>


    <div class="table-responsive">
        
    	<table id='xlistapedidosgeneral' class='display table table-hover table-bordered table-condensed'>
            <thead>
            
            
        	<tr class='success'>
        		<th>id</th>
                <th>Apellido Paterno</th>
            	<th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Catalogos</th>
                <th>Descuentos</th>
              
        	</tr>
            </thead>
            <tbody>
        	{% for item in socio_datos %}
        		<tr>
        			<td><a href="{% url 'pedidos:edita_asociado' item.asociadono %}">{{ item.asociadono }}</a></td>
                    
        			<td>{{ item.appaterno }}</td>
                    <td>{{ item.apmaterno }}</td>
                    <td>{{ item.nombre }}</td>
                    
                    <td><form id="imp_pedido_form" action="/pedidos/filtrocatalogosasociado/{{ item.asociadono }}" method="GET">
                        <input id="asociadono" name="asociadono" class="btn-success-btn-lg" type="submit" value="Catalogos...">
                    </form></td>
                    <td><form id="dsctos_socio" action="/pedidos/asociado_proveedor/{{ item.asociadono }}" method="GET">
                        <input id="asociadono" name="asociadono" class="btn-success-btn-lg" type="submit" value="Dsctos...">
                    </form></td>
            		                    
            	</tr>
           {% endfor %}
           </tbody>
          
            
    	</table>
    </div>
</div>
<div class='row'>
    <div class='col-md-3'>
        
    </div>
    <div class='col-md-3'></div>
    <div class='col-md-3'></div>
    <div class='col-md-3'></div>
    
    
</div>





{% endblock content %}
