{% extends 'pedidos/base.html' %}

{% block content %}

{% load l10n %}
 

<h3>{{mensaje}} {% if elementos > 0 %} {{elementos}} {% endif %}  </h3>
    <div class="table-responsive">
    	<table id="coloc_detail_table" class='display table table-hover table-bordered  table-condensed clase_tabla'>
    	<thead>
        	<tr class='success'>
        		<th style="display: none">Pedido</th>
        		<th style="display: none">ProductoNo</th>
                <th style="display: none">Catalogo</th>
                <th style="display: none">NoLinea</th>
                <th style="display: none">VerEncontradoAnt</th>
                <th style="display: none">Status</th>
        		<th>Suc.</th>
                <th>Socio</th>
                <th>Fecha Pedido</th>
                <th>Marca</th>
                <th>Estilo</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Precio</th>
                <th>Fecha-SC</th>
                <th>O. compra</th>
                <th>Elegir</th>
        	</tr>
        </thead>
        <tbody>
        	{% for item in registros %}
                
        		<tr>
        			<td style="display: none"> {{item.Pedido}}</td>
        			<td style="display: none"> {{item.ProductoNo}}</td>
        			<td style="display: none"> {{item.Catalogo}}</td>
        			<td style="display: none"> {{item.NoLinea}}</td>
    				<!-- Las siguientes dos lineas son para guardar las version del registros de pedidos_encontrados y pedidoslines, antes del commit debe revisarse que no hayan cambiado.-->
    				<td style="display: none"> {{ item.ver_ant_encontrado }}</td>
    				<td style="display: none"> {{ item.status }}</td>
                    <td>{{ item.idSucursal }}</td>
                    <td>{{ item.AsociadoNo }}</td>
                    {% localize on %}
                        <td>{{item.FechaPedido | date:'d/M/Y'}}</td>
                    {% endlocalize %}
                    <td>{{ item.idmarca }}</td>
        			<td>{{ item.idestilo }}</td>
            		<td>{{ item.idcolor }}</td>
            		<td>{% if item.talla == 'NE' %} {{item.Observaciones}} {% else %} {{item.talla}} {% endif %}</td>
            		<td>{{item.precio}}</td>
            		{% localize on %}
                        <td>{% if "1901" in item.FechaMaximaEntrega %} NO ESP.{% endif %}
                            {{item.FechaMaximaEntrega | date:'d/M/Y'  }}</td>
                    {% endlocalize %}
                    <td>{{item.OpcionCompra}}</td>
                    <td name="elegido">
		                 <input class ="checkbox_elegido" type="checkbox" name="elegido" id="id_elegido" value="" checked>
		                 					
					</td>
					
						
                    
            	</tr>
            {% endfor %}
         </tbody>  
    	</table>
    </div>
    <div class="row">
	    <div class="col-md-6">
		    <div ><h3> Total registros: <span id="tot_art" class="label label-primary">{{reg_encontrados}}</span></h3>

		    </div>
	    </div>
	    <div class="col-md-6">
		    <div ><h3>Elegidos: <span id="art_elegidos" class="label label-primary">{{ reg_encontrados }}</span></h3>
		    </div>
	    </div>
	    
    </div>

    <hr>

    <div class="row">
    <div class="col-md-12">
    <div class="panel panel-success">
	        <div class='panel-heading'><h4 align='left'>Ingreso de informacion sobre cierre:</h4></div>
		        <div class='panel-body'>

				    <div class="row">
	    
					    <div class="col-md-4">
						    <label for="id_referencia">Referencia:</label> 
						    <input id="id_referencia" name ="referencia" class="form-control" style="text-transform:uppercase">
						    
						    <label for="id_total_articulos">Tot. Articulos:</label> 
						    <input id="id_total_articulos" name = "total_articulos" class="form-control" value='{{reg_encontrados}}'>

						    <label for="id_colocado_via">Colocado Via:</label> 
						  	<select id="id_colocado_via" name = "colocado_via" class="form-control">
				                <option value="pagina Web" >Pagina Web </option>
				                <option value="telefono" selected="selected">Telefono</option>
				                <option value="correo electronico">Correo electronico</option>
				            </select>
				            
				            <label for="id_tomado_por">Tomado por:</label> 
						    <input id="id_tomado_por" name = "tomado_por" class="form-control" style="text-transform:uppercase">
						    
						    <label for="id_confirmado_por">Confirmado por:</label> 
						    <input id="id_confirmado_por" name = "confirmado_por" class="form-control" style="text-transform:uppercase">
						</div>

						<div class="col-md-4">
						   <!-- <label for="id_fecha_cierre">Fecha cierre:</label> 
						    <input type="date" id="id_fecha_cierre" name ="fecha_cierre" class="form-control">
						    
						    <label for="id_horacierre">Hora cierre:</label> 
						    <input type="time" id="id_hora_cierre" name = "hora_cierre" class="form-control"> -->

						  
				            <label for="id_fecha_llegada">Fecha de llegada:</label> 
						    <input type="date" id="id_fecha_llegada" name = "fecha_llegada" class="form-control">
						    
						   
						</div>

						 <div class="col-md-4">
						    <label for="id_pedido">Pedido num.:</label> 
						    <input id="id_pedido" name ="pedido" class="form-control" value='0'>

						    <label for="id_importe">Importe:</label> 
						    <input id="id_importe" name ="importe" class="form-control" value='0'>

						    <label for="id_importe_nc">Importe NC:</label> 
						    <input id="id_importe_nc" name ="importe_nc" class="form-control" value='0'>

						    <label for="id_monto_pagar">Monto a pagar:</label> 
						    <input id="id_monto_pagar" name ="monto_pagar" class="form-control" value='0' readonly>

						    <label for="id_paqueteria">Paqueteria:</label> 
						    <input id="id_paqueteria" name ="paqueteria" class="form-control" style="text-transform:uppercase" >

						    <label for="id_no_de_guia">Numero de Guia:</label> 
						    <input id="id_no_de_guia" name ="no_de_guia" class="form-control" style="text-transform:uppercase">

						</div>

		    	</div>
		</div>
	</div>
	</div>
			<div class="row">
				<div class='col-md-4'>

		            <label for="usr_id">Usuario_id:</label> 
		            <input id="usr_id_colocadosacerrar" name="usr_id_colocaciones" class="form-control" type="password" pattern=".{,3}" value=0>
		   
		        </div>
		        <div class='col-md-4'>
		        </div>
		        <div class='col-md-4'>
		        </div>
		    </div>

		    <div class="row">
		    	<div class="col-md-4">
				    
				</div>
				<div class="col-md-4">
				    <p align='right'>
				        <button id='procesar_cierre_pedido' class="btn btn-default" href="#" role="button">Cerrar pedido</button>
				    </p>
				</div>
				<div class="col-md-4">
				<p align='right'>
				        <a class="btn btn-default" href="/pedidos/elegir_almacen_a_cerrar" role="button">Regresar</a>
				    </p>
				    
				</div>
		    </div>

	<!-- El siguiente script no se definio dentro de pedidos.js ya que este ultimo se carga primero que las variables de manejadas dentro del request de django, asi puest, el script asigna variables recibidas en request  a variables visibles por JQuery -->
	
	<script>
	var reg_encontrados = "{{ reg_encontrados }}";
	var almacen = "{{ almacen }}";
	var tipo_consulta = "{{ tipo_consulta }}";
	var proveedor = "{{ proveedor }}";
    </script>


{% endblock %}	