{% extends "pedidos/base.html" %}
{% load i18n %}

<!--{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}-->

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="alert alert-success" role="alert">
<p>{% trans "Se acaba de enviar un mensaje con las instrucciones para reestablecer su password, si la cuenta de correo electrónico que proporcionó existe en nuestra base de datos recibirá el mensaje en breve tiempo." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

<p> Ahora vaya y busque el mensaje en su correo electrónico y siga las intrucciones que se indican. </p>

</div>


{% endblock %}
