{% extends 'pedidos/base.html' %}

{% block content %}

<h1>{{mensaje}}</h1>

<div class="row">
  <h3 style="text-align: center;color:#7f7b38;">Catalogo de Proveedores</h3>
  
</div>
    <div class="table-responsive">
        
    	<table class='table table-hover table-bordered table-condensed'>
        	<tr class='success'>
        		<th>id</th>
            	<th>Nombre</th>
            	<th>Telefono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Catalogos</th>
              
        	</tr>
        	{% for item in proveedores %}
        		<tr>
        			<td><a href="{% url 'pedidos:edita_proveedor' item.proveedorno %}">{{ item.proveedorno }}</a></td>
        			<td>{{ item.razonsocial }}</td>
                    <td>{{ item.telefono1 }}</td>
                    <td>{{ item.cel }}</td>
                    <td>{{ item.email }}</td>
                    <td><form id="imp_pedido_form" action="/pedidos/lista_catalogos_proveedor/{{item.proveedorno}}" method="GET">
                        <input id="idpedido" name="p_num_pedido" class="btn-success-btn-lg" type="submit" value="Catalogos...">
                    </form></td>
            		                    
            	</tr>
            {% endfor %}
            
    	</table>
    </div>
    <div class='row'>
        <div class='col-md-4'>
            <p align="left">
                          <a href="{% url 'pedidos:crea_proveedor' %}" id="crea_proveedor" class="btn btn-success" role="button">Nuevo </a>
                        </p>
        </div>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
        
        
    </div>









<!-- El siguiente div se utiliza como parte del cuadro de dialogo jquery para elminiar clientes -->

<div id="dialog-1" style="display : none;" title="Advertencia !">Los registros seleccionados serán eliminados de manera definitiva de la base de datos, la acción es irreversible, desea continuar ?</div>





{% endblock content %}
