{% extends 'pedidos/base.html' %}

{% block content %}

{% load l10n %}
<div class="row">
<div class="col-md-12">
    <h5> LISTADO DE PIEZAS NO SOLICITADAS </h5><br>
    <h5>{{mensaje}} {% if elementos > 0 %} {{elementos}} {% endif %}  </h5>

        <div class="table-responsive" font-size: 14px;>
        
        	<table id="listapedidosgeneral" class='table table-hover table-bordered table-condensed'>

                <thead>
            	<tr class='success'>
            		
                    <th>Pedido</th>
                	<th>Fecha_pedido</th>
                	
                	<th>Marca</th>
                	<th>Estilo</th>
                    <th>Color</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Bodega</th>
                    <!--<th>Sucursal</th>
                    
                    <th>Socio_num</th>
                    <th>Socio_nombre</th>-->

            	</tr>
                </thead>
                <tbody>
            	{% for item in lista_pedidos %}
                    
            		<tr>
                        
                        <td> {{ item.Pedido }}</td>
                        {% localize on %}
                            <td>{{item.fechapedido | date:'d/M/Y'}}</td>
                        {% endlocalize %}
                        
                        <td>{{ item.idmarca }}</td>
                        <td>{{ item.idestilo }}</td>
            			<td>{{ item.idcolor }}</td>
                		<td>{% if item.talla == 'NE' %} {{item.observaciones}} {% else %} {{item.talla}} {% endif %}</td>
                        
                		<td>{{item.precio}}</td>
                		<td>{{ item.RazonSocial }}</td>
                	</tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>            
                
        	</table>
           
        </div>

        <p align='right'>
            <a class="btn btn-default" href="/pedidos/rpte_piezas_no_solicitadas" role="button">Regresar</a>
        </p>


   
</div>
<!--<div class="col-md-4">
</div>
<div class="col-md-4">
</div>-->

</div>
 {% endblock %}